.cart-item-cart{
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 10px;
}
.cart-item-cart:first-of-type{
    margin-top: 0;
}
.image-cart-item,.content-cart-item,.action-cart{
    height: 100%;

}
.image-cart-item{
    width: 20%;
}
.image-cart-item img{
    width: 100%;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}
.content-cart-item{
    width: 60%;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content-cart-item h3{
    font-size: 1.3rem;
}
.cart-content-data{
    display: flex;
    
}
.action-cart{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-section-cart{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.data-section-cart p{
    margin: 0;
}
.display-quantity{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    overflow: hidden;
}
.display-quantity input{
    width: 20%;
    /* background-color: rgb(246, 249, 252); */
    text-align: center;
    padding: 5px;

}
.symbol-based-buttons {
    /* border: 2px solid red; */
    padding: 6px 8px 6px 8px;
    border-radius: 50%;
    background-color: rgb(246, 249, 252);
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows{
    caret-color: transparent;
}
.content-based-buttons{
    display: none;
}

@media screen and (min-width:320px) and (max-width: 480px) {
    .cart-item-cart{
        /* border: 2px solid red; */
        height: unset;
        flex-direction: column;
        /* height: 200px; */
        padding: 10px;
        /* border-radius: 10px; */
    }
    .image-cart-item,.content-cart-item,.action-cart{
        width: 100%;
        /* border: 2px solid pink; */
        height: 40%;
    }
    .image-cart-item
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-cart-item img{
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        width: 60%;
    }
    .data-section-cart {
        width: 100%;
        /* flex-direction: row  ; */
    }
    .content-cart-item h3{
        font-size: 1.1rem;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: 100%; /* Set the width of the container */
        padding: 2px;
    }
    .cart-content-data{
        flex-direction: column;
    }
    .display-quantity{
        /* border: 2px solid red; */
        width: 90%;
        margin-top: 10px;
        justify-content: space-between;
    }
    .symbol-based-buttons{
        /* border: 2px solid red; */
        display: none;
    }
    .content-based-buttons{
        /* border: 2px solid red; */
        display: block;
        border-radius: 0;
        background-color: rgb(246, 249, 252);
        padding: 5px;
    
    }
}