.addressCard{
    /* border: 2px solid red; */
    box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    min-width: 335.88px;
}
.addressCard h2{
    font-size: 1.4rem;
    font-weight: bold;
}
.addressButton{
    margin-top: 20px;
}
.addressCard button{
    background: transparent;
    color: black;
    padding: 0px 15px 0px 15px;
    color: #0f3460;
}
.addressCard  button:hover{
    text-decoration: underline;
}
.addressCard button:first-of-type{
    /* border-right: 2px solid black; */
    padding-left: 0;
}
.addressCard button:nth-child(2){
    border-left: 2px solid black;

}
.addressCard button:nth-child(3){
    border-left: 2px solid black;

}
/* .addaddressCard button:last-child{
    border: 2px solid red;
} */
.addressCard p{
    margin: 0;
}
.addaddressCard{
    border: 1px dotted black;
    min-width: 320px;
    width: 335.89px;
    height: 238.88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
}