.contact-page{
    /* border: 2px solid red; */
    background-color: rgb(246, 249, 252);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-us-page-section{
    /* border: 2px solid black; */
    width: 65%;
    margin: auto;
    /* margin-top: 80px; */
    /* margin-bottom: 80px; */
    height: max-content;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .contact-us-form{
    /* border: 2px solid red; */
    height: 100%;
    width: 55%;
    padding: 20px;
    background-color: rgba(233,237,240,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
    /* .contact-page h2{
      width: 80%;
      margin: auto;
    } */
  .contact-us-form form{
    /* border: 2px solid red; */
    height: 100%;
    width: 80%;
    margin: auto;
  }
  .contact-us-map{
    width: 45%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow the div to grow to fill remaining space */
    overflow: hidden; /* Ensure iframe doesn't overflow its container */
    position: relative; /* Ensure proper positioning of iframe */
    /* border: 2px solid pink; Optional border for visualization */
  
    /* Set height to 0 to allow iframe to expand */
    /* height: 100%; */
    /* padding-bottom: 56.25%;  */
  
  }
  .contact-us-map iframe{
    position: block;
    width: 100%;
    height: 100%;
    animation: zoomIn 1s ease-in-out;
  
  }
  .contact-us-form-group{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    /* margin-top: 10px; */
  
  }
  .label-group{
    /* border: 2px solid red; */
    margin-top: 15px;
  }
  .contact-us-form form{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .label-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-width: 120px;
    max-width: 100%;
    flex-grow: 1;
  }
  .label-group input{
    padding: 5px;
    /* box-sizing: border-box; */
  }
  /* .label-group:last-of-type{ */
    /* margin-left: 40px; */
  /* } */
  .label-group textarea{
    resize: none;
    height: 180px;
    outline: none;
    padding: 5px;
  
  }
  .contact-us-form input[type='submit']
  {
    /* border:2px solid red; */
    margin-top: 15px;
    padding: 10px 35px 10px 35px;
    background-color: #0f3460;
    color: white;
  }
  input[type='submit']:disabled{
    background-color: gray;
  }
  @keyframes zoomIn {
    0% {
      transform: scale(3);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contact-us-page-section{
      /* border: 2px solid red; */
      flex-direction: column-reverse;
      
    }
    .contact-us-form,.contact-us-map{
      /* border: 2px solid green; */
      width: 100%;
    }
    .contact-us-map{
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    .contact-us-page-section{
      width: 90%;
    }
    .contact-page{
      padding: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .contact-us-page-section h2{
      /* border: 2px solid red; */
      text-align: center;
      
    }
    .contact-us-page-section input[type="submit"]
    {
      /* border: 2px solid red; */
      width: 100%;
    }
  }