.Error404{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }
  .Error404 h2{
    font-size: 7rem;
    text-align: center;
  }

  .content404 p{
    /* border: 2px solid  red; */
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
  }
  .content404 button{
    /* border: 2px solid red; */
    margin: auto;
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    background-color: #0f3460;
    color: white;
    border-radius: 6px;
  }