
.Login{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: rgb(246, 249, 252);
  }
  
  .Login form{
    border: .5px solid gray;
    padding: 40px;
    border-radius: 6px;
  }
  .Login button{
    padding-left: 40px;
    padding-right: 40px;
    background: #103464;
    border: none;
  } 
  .forget-password-text:hover
  {
    text-decoration: underline !important;
    cursor: pointer;
    color: #103464 !important;
  }