
.SignUp{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: rgb(246, 249, 252);
  }
  
.SignUp form{
    border: .5px solid gray;
    padding: 40px;
    border-radius: 6px;
  }

  @media screen and (max-width:480px){
    .SignUp{
      padding: 15px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .form-signup{
      /* border: 2px solid red !important; */
      width: 100% !important;
    }
  }
  @media screen and (min-width:481px) and (max-width:768px){
    .SignUp{
      padding: 40px;
    }
    /* .form-signup{ */
      /* border: 2px solid red !important; */
      /* width: 100% !important; */
    /* } */
  }
  