@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading h1 {
  width: fit-content;
  text-align: center;
  margin: 20px auto 30px !important;
}

.images-container {
  display: flex;
}

/*   ---Home Slider---   */

.homeSlide {
  display: flex;
  justify-content: center;
  background-color: #f6f9fc;
  padding-bottom: 0 !important;
}

/*   ---Shop Pages---   */

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.filter-bar-contianer .row {
  flex-wrap: wrap-reverse !important;
}

@media (max-width: 767px) {
  .filter-bar .row {
    gap: 20px;
  }
}

.not-found {
  margin: 40px auto 20px;
  width: fit-content;
}

/*   ---Cart Page---   */

.cart-items {
  background: #f6f9fc;
  min-height: 60vh;
}

.cart-items .cart-total {
  background-color: white;
  padding: 20px;
  /* height: 150px; */
  margin-bottom: 30px;
}

.cart-list {
  position: relative;
  background: white;
  margin-bottom: 30px;
  padding: 20px;
}

.cart-list .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-price-item{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
}
.cart-price-item h4,h3{
  margin: 0;
}

.border-line-cart-price{
  border-bottom:1px solid rgb(3 0 71 / 9%);
  margin-bottom: 15px;
}
.checkout-btn{
  padding: 10px 20px 10px 20px;
  background-color: #0f3460;
  color: white;
  margin: auto;
  /* width: 150px; */
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: block;
  border-radius: 6px;
}
.checkout-btn:hover{
  color:white;
}

/* .cart-items img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: contain;
} */

@media (max-width: 767px) {
  .cart-items .container > .row {
    flex-wrap: wrap-reverse !important;
  }
}

.cart-items .cart-content {
  align-items: flex-end;
}

.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
}

.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: grey;
  width: fit-content;
}

.cart-items h4 span {
  color: #0f3460;
  margin-left: 20px;
  font-weight: 500;
}

.removeCart {
  background: none;
  font-size: 25px;
}

.cartControl {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 0 !important;
  margin: 20px 0 0;
}

.cartControl button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #0f3460;
}

.desCart {
  background: #f6f9fc;
}

.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #0f3460;
}

.cart-total h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #0f3460;
}

.no-items {
  color: #0f3460;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}

button.delete {
  position: absolute;
  right: 0;
  top: 20px;
  width: max-content;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

button.delete ion-icon {
  font-size: 30px;
}

@media (max-width: 575px) {
  .cart-content .cart-details h3 {
    margin: 10px auto;
  }

  .cart-content .cart-details h4 {
    margin: 10px auto;
  }
}

.Login, .SignUp{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: rgb(246, 249, 252);
}

.Login form,.SignUp form{
  border: .5px solid gray;
  padding: 40px;
  border-radius: 6px;
}
.Login button{
  padding-left: 40px;
  padding-right: 40px;
  background: #103464;
  border: none;
} 
.forget-password-text:hover
{
  text-decoration: underline !important;
  cursor: pointer;
  color: #103464 !important;
}
.wrapper button{
  /* border: 2px solid red; */
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #0f3460;
  color: white;
}

.Error404{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.Error404 h2{
  font-size: 7rem;
  text-align: center;
}
.content404 p{
  /* border: 2px solid  red; */
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
}
.content404 button{
  /* border: 2px solid red; */
  margin: auto;
  display: block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  background-color: #0f3460;
  color: white;
  border-radius: 6px;
}


/* address css starting */
/* .Addresses {
  margin: auto;
  padding: auto;
  h2{
    text-align: center;
    padding: 20px;
  }
  .allCards{
    padding: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .addressCard{
    padding: 10px;
    height: 250px;
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 10px;
  }
  .addressButton{
    display: flex;
    gap: 10px;
  }
  button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f3460;
    color: white;
    width: 100px;
    border-radius: 10px;
  }
  .formCard{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addressFormButton{
    width: 30%;
    padding: 10px;
  }
  form{
    padding: 10px;
  }
  .addAddressCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 250px;
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    border-style: dashed;
  }
  @media (max-width: 820px) {
    .addressCard{
      padding: 5px;
    }
    .allCards{
      padding: 50px;
    }
  }
  @media (max-width: 768px) {
    .allCards{
      flex-direction: column;
    }
    .addressFormButton{
      width: 60%;
    }
    .formCard{
      width: 70%;
    }
  }
  @media (max-width: 425px) {
    .addAddressCard{
      width: 250px;
    }
    .addressCard{
      width: 250px;
      height: 300px;
    }
    .addressFormButton{
      width: 70%;
    }
    .formCard{
      width: 90%;
    }
  }
} */



.Addresses{
  /* border: 2px solid red; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  background-color: rgb(246, 249, 252);
  min-height: 500px;
}
.background-color-whole-app{
  background-color: rgb(246, 249, 252);
}
.address-cards-display{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;
  }
  .detailsForm{
    width: 60%;
  }
  form{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailsFormButton{
    width: 30%;
    background-color: #0f3460;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .detailsForm{
      width: 80%;
    }
    .detailsFormButton{
      width: 50%;
    }
    form{
      padding: 20px;
    }
  }
  @media (max-width: 425px) {
    .detailsForm{
      width: 90%;
    }
    .detailsFormButton{
      width: 50%;
    }
    form{
      padding: 5px;
    }
  }
}

.Orders{
  h2{
    text-align: center;
    padding: 20px;
  }
  .allOrderCards{
    display: flex;
    justify-content: center;
    padding: 50px 20px;
  }
  .orderCard{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
  }
  .upper{
    display: flex;
    gap: -30px;
    background-color: #F0F2F2;
    border-radius: 10px;
    .left{
      display: flex;
      width: 70%;
      padding: 10px;
    }
    .first{
      width: 25%;
    }
    .second{
      width: 20%;
    }
    .third{
      width: 65%;
    }
    .right{
      width: 30%;
    }
    .order{
      color: #103464;
      display: flex;
      gap: 30px;
    }
  }
  
  .bottom{
    display: flex;
    padding: 20px;
  }
  .left{
    width: 70%;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 30%;
    button{
      padding:5px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: white;
    }
    .package{
      background-color: #F7CA00;
    }
  }
  .orderImage{
    display: flex;
    gap: 20px;
    align-items: center;
    img{
      width: 110px;
    }
  }
}

.privacy{
  .heading{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  ul li{
    list-style-type: circle;
  }
  .yellow{
    color: #008000;
    background-color: #fff2a8;
    font-weight: bold;
  }
}

.refund{
  .heading{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  ul li{
    list-style-type: circle;
  }
}
.heading{
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.Contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;
  }
  .contactForm{
    width: 50%;
    padding: 10px;
  }
  .contactButton{
    width: 30%;
    background-color: #0f3460;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
  form{
    padding: 20px;
  }
  @media (max-width: 768px) {
    .contactForm{
      width: 80%;
    }
    .contactButton{
      width: 50%;
    }
    form{
      padding: 20px;
    }
  }
  @media (max-width: 425px) {
    .contactForm{
      width: 90%;
    }
    .contactButton{
      width: 50%;
    }
    form{
      padding: 5px;
    }
  }
}

/* .checkout{
  padding : 50px;
  min-height: 50vh;
  display: flex;
  .left{
    padding: 20px;
    width: 60%;
    .upper{
      display: flex;
      flex-direction: column;
      border: 1px solid #808080;
      border-radius: 10px;
      margin-bottom: 40px;
    }
    .checkoutContact{
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .checkoutShip{
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    button{
      padding: 10px;
      border-radius: 10px;
      color: #1f579b;
      background-color: transparent;
    }
    .firstWidth{
      width: 20%;
    }
    .secondWidth{
      display: flex;
    }
    p{
      padding: 10px;
    }
    h3{
      padding: 10px;
    }
    .returnPayButton{
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .paymentButton{
      background-color: black;
      color: white;
      padding: 30px;
    }
  }
  .right{
    width: 40%;
    padding: 20px;
    .cartProduct{
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
    }
    img{
      width: 60px;
      height: 60px;
    }
    .payment{
      display: flex;
      justify-content: space-between;
    }
    .totalPayment{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: larger;
    }
  }
} */
/* @media only screen and (max-width: 992px) {
  .checkout{
    display: block;
    font-size: small;
    .left{
      width: 100%;
      padding: 0px;
    }
    .right{
      width: 100%;
    }
  }
} */

.checkout{
  display: flex;
  gap: 20px;
  padding: 50px;
}
.checkout-payment{
  width: 65%;
  border: 2px solid #ECECEC;
  padding: 25px;
}
.checkout-details{
  width: 35%;
}
.payment-modes{
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  color: #8C8C8C;
}
.mode-of-payment{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ECECEC;
  gap: 20px;
  padding: 20px;
  width: 33%;
  font-size: small;
}
.mode-of-payment:hover{
  background-color: #538FBA;
  cursor: pointer;
  color: white;
}
.checkout-form{
  padding-top: 30px;
}
ion-icon{
  font-size: 25px;
}
.checkout-product{
  border: 2px solid #ECECEC;
  padding: 35px 30px;
  font-size: large;
}
.checkout-date{
  border-width: 0 2px 2px 2px; /* Top, Right, Bottom, Left */
  border-style: solid;
  border-color: #ECECEC;
  background-color: #F1F5F8;
  padding: 15px;
}
.checkout-product-items{
  /* border: 2px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
}
.payment-button{
  width: 100%;
  padding: 20px;
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 3px;
  color: #538FBA;
  margin-top: 30px;
  border: 5px solid #538FBA
}
@media only screen and (max-width: 992px) {
  .checkout{
    display: block;
    padding: 10px;
  }
  .checkout-payment{
    width: 100%;
    padding: 15px;
  }
  .checkout-details{
  padding-top: 30px;
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .payment-modes{
  display: block;
}
.mode-of-payment{
  width: 100%;
}
.checkout-product{
  padding: 10px;
}
}


.contact-page{
  /* border: 2px solid red; */
  background-color: rgb(246, 249, 252);
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-us-page-section{
  /* border: 2px solid black; */
  width: 65%;
  margin: auto;
  /* margin-top: 80px; */
  /* margin-bottom: 80px; */
  height: max-content;
  background-color: #fff;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.contact-us-form{
  /* border: 2px solid red; */
  height: 100%;
  width: 55%;
  padding: 20px;
  background-color: rgba(233,237,240,255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  /* .contact-page h2{
    width: 80%;
    margin: auto;
  } */
.contact-us-form form{
  /* border: 2px solid red; */
  height: 100%;
  width: 80%;
  margin: auto;
}
.contact-us-map{
  width: 45%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the div to grow to fill remaining space */
  overflow: hidden; /* Ensure iframe doesn't overflow its container */
  position: relative; /* Ensure proper positioning of iframe */
  /* border: 2px solid pink; Optional border for visualization */

  /* Set height to 0 to allow iframe to expand */
  /* height: 100%; */
  /* padding-bottom: 56.25%;  */

}
.contact-us-map iframe{
  position: block;
  width: 100%;
  height: 100%;
  animation: zoomIn 1s ease-in-out;

}
.contact-us-form-group{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  /* margin-top: 10px; */

}
.label-group{
  /* border: 2px solid red; */
  margin-top: 15px;
}
.contact-us-form form{
  margin-top: 10px;
  margin-bottom: 10px;
}
.label-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-width: 120px;
  max-width: 100%;
  flex-grow: 1;
}
.label-group input{
  padding: 5px;
  /* box-sizing: border-box; */
}
/* .label-group:last-of-type{ */
  /* margin-left: 40px; */
/* } */
.label-group textarea{
  resize: none;
  height: 180px;
  outline: none;
  padding: 5px;

}
.contact-us-form input[type='submit']
{
  /* border:2px solid red; */
  margin-top: 15px;
  padding: 10px 35px 10px 35px;
  background-color: #0f3460;
  color: white;
}
input[type='submit']:disabled{
  background-color: gray;
}
@keyframes zoomIn {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}





/* Reset Password */
.reset-password{
  /* border: 2px s  olid red; */
  min-height: 600px;
  background-color: rgb(246, 249, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-password-container{
  width: 350px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  border-radius: 8px;
  background-color: #fff;
  /* height: 300px; */
  padding: 30px;
}
.reset-password-container h2{
  font-size: 1.4rem;
  text-align: center;
}
.reset-password-form-group{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin: 20px; */
  margin-top: 20px;
  
}
/* .reset-password-container form{ */
  /* border: 2px solid red; */
/* } */
.reset-password-form-group input{
  padding: 5px;
  background-color: rgb(246, 249, 252);
  background-color: whitesmoke;
  border-radius: 4px;
}

.reset-password-form-group-submit
{
  /* background-color: rgb(246, 249, 252) !important; */
  background-color: #0f3460 ;
  color: white;
  /* margin: 20px; */
  padding: 10px;
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 4px;
}


.modal-open, .modal{
  padding-right: 0!important;
}