@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading h1 {
  width: fit-content;
  text-align: center;
  margin: 20px auto 30px !important;
}

.images-container {
  display: flex;
}

/*   ---Home Slider---   */

.homeSlide {
  display: flex;
  justify-content: center;
  background-color: #f6f9fc;
  padding-bottom: 0 !important;
}






.Login, .SignUp{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: rgb(246, 249, 252);
}

.Login form,.SignUp form{
  border: .5px solid gray;
  padding: 40px;
  border-radius: 6px;
}
.Login button{
  padding-left: 40px;
  padding-right: 40px;
  background: #103464;
  border: none;
} 
.forget-password-text:hover
{
  text-decoration: underline !important;
  cursor: pointer;
  color: #103464 !important;
}
.wrapper button{
  /* border: 2px solid red; */
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #0f3460;
  color: white;
}







.heading{
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
